# Introduction to Python
by Maxwell Margenot

Part of the Quantopian Lecture Series:

* [www.quantopian.com/lectures](https://www.quantopian.com/lectures)
* [github.com/quantopian/research_public](https://github.com/quantopian/research_public)


---

All of the coding that you will do on the Quantopian platform will be in Python. It is also just a good, jack-of-all-trades language to know! Here we will provide you with the basics so that you can feel confident going through our other lectures and understanding what is happening.

## Code Comments

A comment is a note made by a programmer in the source code of a program. Its purpose is to clarify the source code and make it easier for people to follow along with what is happening. Anything in a comment is generally ignored when the code is actually run, making comments useful for including explanations and reasoning as well as removing specific lines of code that you may be unsure about. Comments in Python are created by using the pound symbol (`# Insert Text Here`). Including a `#` in a line of code will comment out anything that follows it.

In [1]:
# This is a comment
# These lines of code will not change any values
# Anything following the first # is not run as code

In [2]:
# las lineas de comentarios no afectan al programa en tiempo de ejecucion
# le permiten al desarrollador tener un mayor control del codigo que realiza
# ademas de que agilizan el trabajo en equipos

You may hear text enclosed in triple quotes (`""" Insert Text Here """`) referred to as multi-line comments, but this is not entirely accurate. This is a special type of `string` (a data type we will cover), called a `docstring`, used to explain the purpose of a function.

In [3]:
""" This is a special string """

' This is a special string '

In [4]:
""" este es un string especial con distintas caracteristicas,
    son comentarios que permiten salto de linea,
    y se usan para explicar alguna funcion"""

' este es un string especial con distintas caracteristicas,\n    son comentarios que permiten salto de linea,\n    y se usan para explicar alguna funcion'

Make sure you read the comments within each code cell (if they are there). They will provide more real-time explanations of what is going on as you look at each line of code.

## Variables

Variables provide names for values in programming. If you want to save a value for later or repeated use, you give the value a name, storing the contents in a variable. Variables in programming work in a fundamentally similar way to variables in algebra, but in Python they can take on various different data types.

The basic variable types that we will cover in this section are `integers`, `floating point numbers`, `booleans`, and `strings`. 

An `integer` in programming is the same as in mathematics, a round number with no values after the decimal point. We use the built-in `print` function here to display the values of our variables as well as their types!

In [5]:
"""my_integer = 50
print my_integer, type(my_integer)"""

'my_integer = 50\nprint my_integer, type(my_integer)'

In [6]:
un_entero = 50
#los valores enteros son los numeros que no poseen coma decimal
print un_entero, type(un_entero)

50 <class 'int'>

Variables, regardless of type, are assigned by using a single equals sign (`=`). Variables are case-sensitive so any changes in variation in the capitals of a variable name will reference a different variable entirely.

In [7]:
"""one = 1
print One"""

'one = 1\nprint One'

In [8]:
Un_entero=1
#esta variable es distinta a la anterior ya que, como python es sensible a las mayusculas, 
#no las reconoce como iguales
print Un_entero
print un_entero

1
50

A `floating point` number, or a `float` is a fancy name for a real number (again as in mathematics). To define a `float`, we need to either include a decimal point or specify that the value is a float.

In [9]:
"""my_float = 1.0
print my_float, type(my_float)
my_float = float(1)
print my_float, type(my_float)"""

'my_float = 1.0\nprint my_float, type(my_float)\nmy_float = float(1)\nprint my_float, type(my_float)'

In [10]:
#existen dos maneras de especificar un float
#la primera poniendo el punto o coma decimal(python usa el punto)
un_float=14.85
print un_float, type(un_float)
#la segunda es espcificando de manera explicita que se trata de un float
un_float=float(14)
print un_float, type(un_float)

14.85 <class 'float'>
14.0 <class 'float'>

A variable of type `float` will not round the number that you store in it, while a variable of type `integer` will. This makes `floats` more suitable for mathematical calculations where you want more than just integers.

Note that as we used the `float()` function to force an number to be considered a `float`, we can use the `int()` function to force a number to be considered an `int`.

In [11]:
"""my_int = int(3.14159)
print my_int, type(my_int)"""

'my_int = int(3.14159)\nprint my_int, type(my_int)'

In [12]:
#las variables de tipo int son poco usadas para estadisticas puesto que redondean 
#el numero para que no tenga valor decimal
un_int=int(1344.68695)
#si se fuerza un numero real a ser entero, este devolvera el valor de la funcion piso para ese numero
print un_int, type(un_int)

1344 <class 'int'>

The `int()` function will also truncate any digits that a number may have after the decimal point!

Strings allow you to include text as a variable to operate on. They are defined using either single quotes ('') or double quotes ("").

In [13]:
"""my_string = 'This is a string with single quotes'
print my_string
my_string = "This is a string with double quotes"
print my_string"""

'my_string = \'This is a string with single quotes\'\nprint my_string\nmy_string = "This is a string with double quotes"\nprint my_string'

In [14]:
#los strings tienen dos formas de escribirse, con ('') o con ("")(otros lenguajes no permiten esto)
un_string='hola mundo'
print un_string
Un_string="hola mundo"
print Un_string
print (un_string==Un_string)

hola mundo
hola mundo
True

Both are allowed so that we can include apostrophes or quotation marks in a string if we so choose.

In [15]:
"""my_string = '"Jabberwocky", by Lewis Carroll'
print my_string
my_string = "'Twas brillig, and the slithy toves / Did gyre and gimble in the wabe;"
print my_string"""

'my_string = \'"Jabberwocky", by Lewis Carroll\'\nprint my_string\nmy_string = "\'Twas brillig, and the slithy toves / Did gyre and gimble in the wabe;"\nprint my_string'

In [16]:
#y de igual manera, dentro del string podemos poner ('')("") como parte de la cadena
un_string="'adios mundo', que tal todos"
print un_string
Un_string='"hola mundo", adios todos'
print Un_string

'adios mundo', que tal todos
"hola mundo", adios todos

Booleans, or `bools` are binary variable types. A `bool` can only take on one of two values, these being `True` or `False`. There is much more to this idea of truth values when it comes to programming, which we cover later in the [Logical Operators](#id-section5) of this notebook.

In [17]:
"""my_bool = True
print my_bool, type(my_bool)"""

'my_bool = True\nprint my_bool, type(my_bool)'

In [18]:
un_bool=False
print un_bool, type(un_bool)

False <class 'bool'>

There are many more data types that you can assign as variables in Python, but these are the basic ones! We will cover a few more later as we move through this tutorial.

## Basic Math

Python has a number of built-in math functions. These can be extended even further by importing the **math** package or by including any number of other calculation-based packages.

All of the basic arithmetic operations are supported: `+`, `-`, `/`, and `*`. You can create exponents by using `**` and modular arithmetic is introduced with the mod operator, `%`.

In [19]:
"""print 'Addition: ', 2 + 2
print 'Subtraction: ', 7 - 4
print 'Multiplication: ', 2 * 5
print 'Division: ', 10 / 2
print 'Exponentiation: ', 3**2"""

"print 'Addition: ', 2 + 2\nprint 'Subtraction: ', 7 - 4\nprint 'Multiplication: ', 2 * 5\nprint 'Division: ', 10 / 2\nprint 'Exponentiation: ', 3**2"

In [20]:
#operaciones aritmeticas basicas de python
print 'Addition: ', 2 + 2+8+234
print 'Subtraction: ', 7 - 4-5-3293
print 'Multiplication: ', 2 * 5 *15
print 'Division: ', 10 / 2 /5
print 'Exponentiation: ', 5**3

Addition:  246
Subtraction:  -3295
Multiplication:  150
Division:  1.0
Exponentiation:  125

If you are not familiar with the the mod operator, it operates like a remainder function. If we type $15 \ \% \ 4$, it will return the remainder after dividing $15$ by $4$.

In [21]:
"""print 'Modulo: ', 15 % 4"""

"print 'Modulo: ', 15 % 4"

In [22]:
#el modulo devuelve el residuo de la division de a/b
print 'Modulo: ', 20 % 15

Modulo:  5

Mathematical functions also work on variables!

In [23]:
"""first_integer = 4
second_integer = 5
print first_integer * second_integer"""

'first_integer = 4\nsecond_integer = 5\nprint first_integer * second_integer'

In [24]:
#al igual que en valores constantes, las operaciones aritmeticas tambien funcionan con variables
entero_1=25
entero_2=3
print entero_1**entero_2

15625

Make sure that your variables are floats if you want to have decimal points in your answer. If you perform math exclusively with integers, you get an integer. Including any float in the calculation will make the result a float.

In [25]:
"""first_integer = 11
second_integer = 3
print first_integer / second_integer"""

'first_integer = 11\nsecond_integer = 3\nprint first_integer / second_integer'

In [26]:
"""first_number = 11.0
second_number = 3.0
print first_number / second_number"""

'first_number = 11.0\nsecond_number = 3.0\nprint first_number / second_number'

In [27]:
#la division de reales y de enteros en python se comportan de maneras distintas,
#en ambas la division se hara normal, pero el valor que se guarde en int solo sera la parte entera
un_entero=12
Un_entero=5
print "division en enteros:", un_entero/Un_entero

un_float=12.0
Un_float=5.0
print "division en reales: ", un_float/Un_float

division en enteros: 2.4
division en reales:  2.4

Python has a few built-in math functions. The most notable of these are:

* `abs()`
* `round()`
* `max()`
* `min()`
* `sum()`

These functions all act as you would expect, given their names. Calling `abs()` on a number will return its absolute value. The `round()` function will round a number to a specified number of the decimal points (the default is $0$). Calling `max()` or `min()` on a collection of numbers will return, respectively, the maximum or minimum value in the collection. Calling `sum()` on a collection of numbers will add them all up. If you're not familiar with how collections of values in Python work, don't worry! We will cover collections in-depth in the next section. 

Additional math functionality can be added in with the `math` package.

In [28]:
"""import math"""

'import math'

In [29]:
#ademas se le puede asignar nombre propio a la libreria importada
import math as mat

The math library adds a long list of new mathematical functions to Python. Feel free to check out the [documentation](https://docs.python.org/2/library/math.html) for the full list and details. It concludes some mathematical constants

In [30]:
"""print 'Pi: ', math.pi
print "Euler's Constant: ", math.e"""

'print \'Pi: \', math.pi\nprint "Euler\'s Constant: ", math.e'

In [31]:
print 'Pi: ', mat.pi
print "Constante de euler: ", mat.e

Pi:  3.141592653589793
Constante de euler:  2.718281828459045

As well as some commonly used math functions

In [32]:
"""print 'Cosine of pi: ', math.cos(math.pi)"""

"print 'Cosine of pi: ', math.cos(math.pi)"

In [33]:
print "Seno de 2pi: ", mat.sin(mat.pi*2)

Seno de 2pi:  -2.4492935982947064e-16

## Collections
### Lists

A `list` in Python is an ordered collection of objects that can contain any data type. We define a `list` using brackets (`[]`).

In [34]:
"""my_list = [1, 2, 3]
print my_list"""

'my_list = [1, 2, 3]\nprint my_list'

In [35]:
una_lista=[2,4,6,8,10]
print una_lista

[2, 4, 6, 8, 10]

We can access and index the list by using brackets as well. In order to select an individual element, simply type the list name followed by the index of the item you are looking for in braces.

In [36]:
"""print my_list[0]
print my_list[2]"""

'print my_list[0]\nprint my_list[2]'

In [37]:
#se puede acceder a cualquier posicion de la lista(recordar que las posiciones comienzan en 0 y no en 1)
print una_lista[1]
print una_lista[4]

4
10

Indexing in Python starts from $0$. If you have a list of length $n$, the first element of the list is at index $0$, the second element is at index $1$, and so on and so forth. The final element of the list will be at index $n-1$. Be careful! Trying to access a non-existent index will cause an error.

In [38]:
"""print 'The first, second, and third list elements: ', my_list[0], my_list[1], my_list[2]
print 'Accessing outside the list bounds causes an error: ', my_list[3]"""

"print 'The first, second, and third list elements: ', my_list[0], my_list[1], my_list[2]\nprint 'Accessing outside the list bounds causes an error: ', my_list[3]"

In [39]:
print "primera posicion", una_lista[0]
print "cuarta posicion", una lista[3]
#si se accede a una posicion que no existe, se genera error, y como "una_lista" tiene 5 elementos, no se puede llegar al indice 5

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-39-a35f198809ac>, line 2)

We can see the number of elements in a list by calling the `len()` function.

In [40]:
"""print len(my_list)"""

'print len(my_list)'

In [41]:
print "cantidad de elementos en la lista: ", len(una_lista)

cantidad de elementos en la lista:  5

We can update and change a list by accessing an index and assigning new value.

In [42]:
"""print my_list
my_list[0] = 42
print my_list"""

'print my_list\nmy_list[0] = 42\nprint my_list'

In [43]:
print una_lista
#puedo modificar cualquier valor en cualquier posicion si lo especifico
una_lista[4]=3457
print una_lista

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 3457]

This is fundamentally different from how strings are handled. A `list` is mutable, meaning that you can change a `list`'s elements without changing the list itself. Some data types, like `strings`, are immutable, meaning you cannot change them at all. Once a `string` or other immutable data type has been created, it cannot be directly modified without creating an entirely new object.

In [44]:
"""my_string = "Strings never change"
my_string[0] = 'Z'"""

'my_string = "Strings never change"\nmy_string[0] = \'Z\''

In [45]:
#un string es una variable inmutable, significa que no se puede modificar los valores en cada posicion
#por separado
"""un_string='hola mundo'
un_string[10]='s'"""
#estas lineas causaran error

"un_string='hola mundo'\nun_string[10]='s'"

As we stated before, a list can contain any data type. Thus, lists can also contain strings.

In [46]:
"""my_list_2 = ['one', 'two', 'three']
print my_list_2"""

"my_list_2 = ['one', 'two', 'three']\nprint my_list_2"

In [47]:
#las listas pueden contener cualquier tipo de dato que python soporte
una_segunda_lista=[False, True, False, True]
print una_segunda_lista

[False, True, False, True]

Lists can also contain multiple different data types at once!

In [48]:
"""my_list_3 = [True, 'False', 42]"""

"my_list_3 = [True, 'False', 42]"

In [49]:
#ademas las listas no necesariamente deben contener el msmo tipo de datos
una_tercera_lista=["hola que tal a todos",12,12.654,True]
print una_tercera_lista

['hola que tal a todos', 12, 12.654, True]

If you want to put two lists together, they can be combined with a `+` symbol.

In [50]:
"""my_list_4 = my_list + my_list_2 + my_list_3
print my_list_4"""

'my_list_4 = my_list + my_list_2 + my_list_3\nprint my_list_4'

In [51]:
#se pueden fusionar las listas con "+"
una_cuarta_lista=una_lista+una_segunda_lista+una_tercera_lista
print una_cuarta_lista

[2, 4, 6, 8, 3457, False, True, False, True, 'hola que tal a todos', 12, 12.654, True]

In addition to accessing individual elements of a list, we can access groups of elements through slicing.

In [52]:
"""my_list = ['friends', 'romans', 'countrymen', 'lend', 'me', 'your', 'ears']"""

"my_list = ['friends', 'romans', 'countrymen', 'lend', 'me', 'your', 'ears']"

#### Slicing

We use the colon (`:`) to slice lists.

In [53]:
"""print my_list[2:4]"""

'print my_list[2:4]'

In [54]:
#se puede acceder a un conjunto de datos de una lista usando "[:]"
print una_cuarta_lista[3:7]

[8, 3457, False, True]

Using `:` we can select a group of elements in the list starting from the first element indicated and going up to  (but not including) the last element indicated.

We can also select everything after a certain point

In [55]:
"""print my_list[1:]"""

'print my_list[1:]'

And everything before a certain point

In [56]:
"""print my_list[:4]"""

'print my_list[:4]'

In [57]:
#ademas se puede seleccionar cierto punto o hasta cierto punto de la lista

#ejemplo de hasta cierto punto
print una_cuarta_lista[:7]

#ejemplo de desde cierto punto
print una_cuarta_lista[6:]

[2, 4, 6, 8, 3457, False, True]
[True, False, True, 'hola que tal a todos', 12, 12.654, True]

Using negative numbers will count from the end of the indices instead of from the beginning. For example, an index of `-1` indicates the last element of the list.

In [58]:
"""print my_list[-1]"""

'print my_list[-1]'

In [59]:
#un "-1" como posicion especifica el ultimo elemento de la lista
print una_cuarta_lista[-1]

True

You can also add a third component to slicing. Instead of simply indicating the first and final parts of your slice, you can specify the step size that you want to take. So instead of taking every single element, you can take every other element.

In [60]:
"""print my_list[0:7:2]"""

'print my_list[0:7:2]'

In [61]:
#ademas de desde donde hasta donde, se puede especificar de a cuantas posiciones mostrar
print una_cuarta_lista[1:13:3]

[4, 3457, False, 12]

Here we have selected the entire list (because `0:7` will yield elements `0` through `6`) and we have selected a step size of `2`. So this will spit out element `0` , element `2`, element `4`, and so on through the list element selected. We can skip indicated the beginning and end of our slice, only indicating the step, if we like.

In [62]:
"""print my_list[::2]"""

'print my_list[::2]'

In [63]:
#no es necesario especifcar desde donde hasta donde ir para especificar los saltos en la lista
print una_cuarta_lista[::7]

[2, False]

Lists implictly select the beginning and end of the list when not otherwise specified.

In [64]:
"""print my_list[:]"""

'print my_list[:]'

In [65]:
#python implicitamente "[:]" cuando selecciona una lista
print una_cuarta_lista==una_cuarta_lista[:]
print una_cuarta_lista==una_cuarta_lista[1:5]

True
False

With a negative step size we can even reverse the list!

In [66]:
#con una especificacion de salto "-1", se imprimira en reversa la lista
print una_cuarta_lista[::-1]
print una_cuarta_lista

[True, 12.654, 12, 'hola que tal a todos', True, False, True, False, 3457, 8, 6, 4, 2]
[2, 4, 6, 8, 3457, False, True, False, True, 'hola que tal a todos', 12, 12.654, True]

Python does not have native matrices, but with lists we can produce a working fascimile. Other packages, such as `numpy`, add matrices as a separate data type, but in base Python the best way to create a matrix is to use a list of lists.

We can also use built-in functions to generate lists. In particular we will look at `range()` (because we will be using it later!). Range can take several different inputs and will return a list.

In [67]:
"""b = 10
my_list = range(b)
print my_list"""

'b = 10\nmy_list = range(b)\nprint my_list'

Similar to our list-slicing methods from before, we can define both a start and an end for our range. This will return a list that is includes the start and excludes the end, just like a slice.

In [68]:
"""a = 0
b = 10
my_list = range(a, b)
print my_list"""

'a = 0\nb = 10\nmy_list = range(a, b)\nprint my_list'

We can also specify a step size. This again has the same behavior as a slice.

In [69]:
"""a = 0
b = 10
step = 2
my_list = range(a, b, step)
print my_list"""

'a = 0\nb = 10\nstep = 2\nmy_list = range(a, b, step)\nprint my_list'

In [70]:
#se pueden usar funciones de python para que se genere la lista
una_lista=list(range(10))
print "range(10)= ", una_lista

#y ademas, seleccionar los rangos para   la lista
una_lista=list(range(3,15))
print "range(3,15)= ", una_lista

#por ultimo, se puede especificar la distancia entre los numeros, o mas conocidos como pasos
una_lista=list(range(3,15,3))
print "range(3,15,3)= ", una_lista

range(10)=  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(3,15)=  [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
range(3,15,3)=  [3, 6, 9, 12]

### Tuples

A `tuple` is a data type similar to a list in that it can hold different kinds of data types. The key difference here is that a `tuple` is immutable. We define a `tuple` by separating the elements we want to include by commas. It is conventional to surround a `tuple` with parentheses.

In [71]:
"""my_tuple = 'I', 'have', 30, 'cats'
print my_tuple"""

"my_tuple = 'I', 'have', 30, 'cats'\nprint my_tuple"

In [72]:
"""my_tuple = ('I', 'have', 30, 'cats')
print my_tuple"""

"my_tuple = ('I', 'have', 30, 'cats')\nprint my_tuple"

In [73]:
#las tuplas son inmutables, ademas de eso, son iguales a las listas
una_tupla=tuple(range(20))
print una_tupla

#y se suele especificar los datos entre parentesis
una_tupla=(1,2,3,4,5,6)
print una_tupla

#al ser inmutables, no se puede cambiar dato por dato, si se intenta, generaria error

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)
(1, 2, 3, 4, 5, 6)

As mentioned before, tuples are immutable. You can't change any part of them without defining a new tuple.

In [74]:
"""my_tuple[3] = 'dogs' # Attempts to change the 'cats' value stored in the the tuple to 'dogs'"""

"my_tuple[3] = 'dogs' # Attempts to change the 'cats' value stored in the the tuple to 'dogs'"

You can slice tuples the same way that you slice lists!

In [75]:
"""print my_tuple[1:3]"""

'print my_tuple[1:3]'

In [76]:
#como ya fue mencionado, funciona como una lista en el resto de cosas
print una_tupla[:4:2]

(1, 3)

And concatenate them the way that you would with strings!

In [77]:
"""my_other_tuple = ('make', 'that', 50)
print my_tuple + my_other_tuple"""

"my_other_tuple = ('make', 'that', 50)\nprint my_tuple + my_other_tuple"

In [78]:
#se pueden concatenar
una_segunda_tupla=('hola','adios','que tal')
print una_tupla+una_segunda_tupla

(1, 2, 3, 4, 5, 6, 'hola', 'adios', 'que tal')

We can 'pack' values together, creating a tuple (as above), or we can 'unpack' values from a tuple, taking them out.

In [79]:
"""str_1, str_2, int_1 = my_other_tuple
print str_1, str_2, int_1"""

'str_1, str_2, int_1 = my_other_tuple\nprint str_1, str_2, int_1'

Unpacking assigns each value of the tuple in order to each variable on the left hand side of the equals sign. Some functions, including user-defined functions, may return tuples, so we can use this to directly unpack them and access the values that we want.

### Sets

A `set` is a collection of unordered, unique elements. It works almost exactly as you would expect a normal set of things in mathematics to work and is defined using braces (`{}`).

In [80]:
"""things_i_like = {'dogs', 7, 'the number 4', 4, 4, 4, 42, 'lizards', 'man I just LOVE the number 4'}
print things_i_like, type(things_i_like)"""

"things_i_like = {'dogs', 7, 'the number 4', 4, 4, 4, 42, 'lizards', 'man I just LOVE the number 4'}\nprint things_i_like, type(things_i_like)"

In [81]:
#un set se selecciona entre llaves, y elimina cualquier dato repetido
un_set={'hola',1,2,3,False,'algunas otras cosas',8,8,8,8}

print type(un_set)

print "un_set={'hola',1,2,3,False,'algunas otras cosas',8,8,8,8}= ", un_set

<class 'set'>
un_set={'hola',1,2,3,False,'algunas otras cosas',8,8,8,8}=  {False, 1, 2, 3, 'hola', 8, 'algunas otras cosas'}

Note how any extra instances of the same item are removed in the final set. We can also create a `set` from a list, using the `set()` function.

In [82]:
"""animal_list = ['cats', 'dogs', 'dogs', 'dogs', 'lizards', 'sponges', 'cows', 'bats', 'sponges']
animal_set = set(animal_list)
print animal_set # Removes all extra instances from the list"""

"animal_list = ['cats', 'dogs', 'dogs', 'dogs', 'lizards', 'sponges', 'cows', 'bats', 'sponges']\nanimal_set = set(animal_list)\nprint animal_set # Removes all extra instances from the list"

Calling `len()` on a set will tell you how many elements are in it.

In [83]:
"""print len(animal_set)"""

'print len(animal_set)'

Because a `set` is unordered, we can't access individual elements using an index. We can, however, easily check for membership (to see if something is contained in a set) and take the unions and intersections of sets by using the built-in set functions.

In [84]:
"""'cats' in animal_set # Here we check for membership using the `in` keyword."""

"'cats' in animal_set # Here we check for membership using the `in` keyword."

In [85]:
#tiene similitudes con las listas, como la funcion len
print len(un_set)

#pero al no ser una lista ordenada, y eliminar datos repetidos, no se puede acceder por posicion
#pero si se puede revisar si existe un elemento dentro del set

print 'hola' in un_set

7
True

Here we checked to see whether the string 'cats' was contained within our `animal_set` and it returned `True`, telling us that it is indeed in our set.

We can connect sets by using typical mathematical set operators, namely `|`, for union, and `&`, for intersection. Using `|` or `&` will return exactly what you would expect if you are familiar with sets in mathematics.

In [86]:
"""print animal_set | things_i_like # You can also write things_i_like | animal_set with no difference"""

'print animal_set | things_i_like # You can also write things_i_like | animal_set with no difference'

Pairing two sets together with `|` combines the sets, removing any repetitions to make every set element unique.

In [87]:
"""print animal_set & things_i_like # You can also write things_i_like & animal_set with no difference"""

'print animal_set & things_i_like # You can also write things_i_like & animal_set with no difference'

In [88]:
#ya que los set funcionan como conjuntos, poseen unas cuantas funciones de estos
#"|" sirve como funcion de union y "&" como interseccion
un_segundo_set={1,2,4,6,'ahdhfakjhdgsfheh'}
print "union= ", un_set|un_segundo_set

print "interseccion= ", un_set&un_segundo_set

union=  {False, 1, 2, 3, 'ahdhfakjhdgsfheh', 4, 'hola', 6, 8, 'algunas otras cosas'}
interseccion=  {1, 2}

Pairing two sets together with `&` will calculate the intersection of both sets, returning a set that only contains what they have in common.

If you are interested in learning more about the built-in functions for sets, feel free to check out the [documentation](https://docs.python.org/2/library/sets.html).

### Dictionaries

Another essential data structure in Python is the dictionary. Dictionaries are defined with a combination of curly braces (`{}`) and colons (`:`). The braces define the beginning and end of a dictionary and the colons indicate key-value pairs. A dictionary is essentially a set of key-value pairs. The key of any entry must be an immutable data type. This makes both strings and tuples candidates. Keys can be both added and deleted.

In the following example, we have a dictionary composed of key-value pairs where the key is a genre of fiction (`string`) and the value is a list of books (`list`) within that genre. Since a collection is still considered a single entity, we can use one to collect multiple variables or values into one key-value pair.

In [89]:
"""my_dict = {"High Fantasy": ["Wheel of Time", "Lord of the Rings"], 
           "Sci-fi": ["Book of the New Sun", "Neuromancer", "Snow Crash"],
           "Weird Fiction": ["At the Mountains of Madness", "The House on the Borderland"]}"""

'my_dict = {"High Fantasy": ["Wheel of Time", "Lord of the Rings"], \n           "Sci-fi": ["Book of the New Sun", "Neuromancer", "Snow Crash"],\n           "Weird Fiction": ["At the Mountains of Madness", "The House on the Borderland"]}'

After defining a dictionary, we can access any individual value by indicating its key in brackets.

In [90]:
"""print my_dict["Sci-fi"]"""

'print my_dict["Sci-fi"]'

In [91]:
diccionario={'hola mundo':[1,3],'adios':[False,True]}

#se puede acceder a cualquier valor del diccionario especificando su llave
print diccionario['hola mundo']

[1, 3]

We can also change the value associated with a given key

In [92]:
"""my_dict["Sci-fi"] = "I can't read"
print my_dict["Sci-fi"]"""

'my_dict["Sci-fi"] = "I can\'t read"\nprint my_dict["Sci-fi"]'

Adding a new key-value pair is as simple as defining it.

In [93]:
"""my_dict["Historical Fiction"] = ["Pillars of the Earth"]
print my_dict["Historical Fiction"]"""

'my_dict["Historical Fiction"] = ["Pillars of the Earth"]\nprint my_dict["Historical Fiction"]'

In [94]:
"""print my_dict"""

'print my_dict'

In [95]:
#se puede cambiar los items asociados a un key especificandole los nuevos datos
diccionario['hola mundo']=['hola','que tal']
print diccionario['hola mundo']
#aunque si no existe la llave, la misma operacion creara una llave nueva
diccionario['si cierto']=[False,False,False]
print diccionario['si cierto']

print diccionario

['hola', 'que tal']
[False, False, False]
{'si cierto': [False, False, False], 'adios': [False, True], 'hola mundo': ['hola', 'que tal']}

## String Shenanigans

We already know that strings are generally used for text. We can used built-in operations to combine, split, and format strings easily, depending on our needs.

The `+` symbol indicates concatenation in string language. It will combine two strings into a longer string.

In [96]:
"""first_string = '"Beware the Jabberwock, my son! /The jaws that bite, the claws that catch! /'
second_string = 'Beware the Jubjub bird, and shun /The frumious Bandersnatch!"/'
third_string = first_string + second_string
print third_string"""

'first_string = \'"Beware the Jabberwock, my son! /The jaws that bite, the claws that catch! /\'\nsecond_string = \'Beware the Jubjub bird, and shun /The frumious Bandersnatch!"/\'\nthird_string = first_string + second_string\nprint third_string'

In [97]:
#Los strings se pueden concatenar con el simbolo "+"
primer_string="que tal esta todo por afuera, "
segundo_string="muy bien muchas gracias"

print primer_string+segundo_string

resultado_string=primer_string+segundo_string
print resultado_string

que tal esta todo por afuera, muy bien muchas gracias
que tal esta todo por afuera, muy bien muchas gracias

Strings are also indexed much in the same way that lists are.

In [98]:
"""my_string = 'Supercalifragilisticexpialidocious'
print 'The first letter is: ', my_string[0] # Uppercase S
print 'The last letter is: ', my_string[-1] # lowercase s
print 'The second to last letter is: ', my_string[-2] # lowercase u
print 'The first five characters are: ', my_string[0:5] # Remember: slicing doesn't include the final element!
print 'Reverse it!: ', my_string[::-1]"""

"my_string = 'Supercalifragilisticexpialidocious'\nprint 'The first letter is: ', my_string[0] # Uppercase S\nprint 'The last letter is: ', my_string[-1] # lowercase s\nprint 'The second to last letter is: ', my_string[-2] # lowercase u\nprint 'The first five characters are: ', my_string[0:5] # Remember: slicing doesn't include the final element!\nprint 'Reverse it!: ', my_string[::-1]"

In [99]:
#los strings son inmutables pero si puede obtenerse el varacter o caracter en alguna posicion
hola='quetaltodo'
print "letra del medio: ",hola [int(len(hola)/2)]
print "salteando de 2 en 2: ", hola[::2]

letra del medio:  l
salteando de 2 en 2:  qeatd

Built-in objects and classes often have special functions associated with them that are called methods. We access these methods by using a period ('.'). We will cover objects and their associated methods more in another lecture!

Using string methods we can count instances of a character or group of characters.

In [100]:
"""print 'Count of the letter i in Supercalifragilisticexpialidocious: ', my_string.count('i')
print 'Count of "li" in the same word: ', my_string.count('li')"""

'print \'Count of the letter i in Supercalifragilisticexpialidocious: \', my_string.count(\'i\')\nprint \'Count of "li" in the same word: \', my_string.count(\'li\')'

In [101]:
#Con .count se puede contar cuantas veces existe una subcadena en una cadena

rep="tal que tal la talera talalera"
print "cantidad de 'tal' dentro del string: ", rep.count("tal")
print "cantidad de 'la' dentro del string: ", rep.count("la")

cantidad de 'tal' dentro del string:  4
cantidad de 'la' dentro del string:  2

We can also find the first instance of a character or group of characters in a string.

In [102]:
"""print 'The first time i appears is at index: ', my_string.find('i')"""

"print 'The first time i appears is at index: ', my_string.find('i')"

As well as replace characters in a string.

In [103]:
"""print "All i's are now a's: ", my_string.replace('i', 'a')"""

'print "All i\'s are now a\'s: ", my_string.replace(\'i\', \'a\')'

In [104]:
"""print "It's raining cats and dogs".replace('dogs', 'more cats')"""

'print "It\'s raining cats and dogs".replace(\'dogs\', \'more cats\')'

In [105]:
#podemos buscar la primera posicion de una subcadena
print rep.find("tal")

#o reemplazar subcadenas
rep=rep.replace("tal","cal cual")
rep=rep.replace("la","ala")
rep

0

'cal cual que cal cual ala cal cualera cal cuaalalera'

There are also some methods that are unique to strings. The function `upper()` will convert all characters in a string to uppercase, while `lower()` will convert all characters in a string to lowercase!

In [106]:
"""my_string = "I can't hear you"
print my_string.upper()
my_string = "I said HELLO"
print my_string.lower()"""

'my_string = "I can\'t hear you"\nprint my_string.upper()\nmy_string = "I said HELLO"\nprint my_string.lower()'

### String Formatting

Using the `format()` method we can add in variable values and generally format our strings.

In [107]:
"""my_string = "{0} {1}".format('Marco', 'Polo')
print my_string"""

'my_string = "{0} {1}".format(\'Marco\', \'Polo\')\nprint my_string'

In [108]:
"""my_string = "{1} {0}".format('Marco', 'Polo')
print my_string"""

'my_string = "{1} {0}".format(\'Marco\', \'Polo\')\nprint my_string'

In [109]:
un_string="{0} {1} {2}".format("primero","segundo","tercero")

print "primer uso de format: ",un_string

un_string="{2} {0} {1}".format("primero","segundo","tercero")
print "segundo uso de format: ", un_string

primer uso de format:  primero segundo tercero
segundo uso de format:  tercero primero segundo

We use braces (`{}`) to indicate parts of the string that will be filled in later and we use the arguments of the `format()` function to provide the values to substitute. The numbers within the braces indicate the index of the value in the `format()` arguments.

See the `format()` [documentation](https://docs.python.org/2/library/string.html#format-examples) for additional examples.

If you need some quick and dirty formatting, you can instead use the `%` symbol, called the string formatting operator.

In [110]:
"""print 'insert %s here' % 'value'"""

"print 'insert %s here' % 'value'"

The `%` symbol basically cues Python to create a placeholder. Whatever character follows the `%` (in the string) indicates what sort of type the value put into the placeholder will have. This character is called a *conversion type*. Once the string has been closed, we need another `%` that will be followed by the values to insert. In the case of one value, you can just put it there. If you are inserting more than one value, they must be enclosed in a tuple.

In [111]:
"""print 'There are %s cats in my %s' % (13, 'apartment')"""

"print 'There are %s cats in my %s' % (13, 'apartment')"

In [112]:
#forma rapida de format
un_string="que tal %s estan todos" %"hola"
print un_string

#y se puede colocar mas de un valor para agregar
un_string='no hay %s corriendo por %s' %("15 humanos","aqui")
print un_string

que tal hola estan todos
no hay 15 humanos corriendo por aqui

In these examples, the `%s` indicates that Python should convert the values into strings. There are multiple conversion types that you can use to get more specific with the the formatting. See the string formatting [documentation](https://docs.python.org/2/library/stdtypes.html#string-formatting) for additional examples and more complete details on use.

## Logical Operators
### Basic Logic

Logical operators deal with `boolean` values, as we briefly covered before. If you recall, a `bool` takes on one of two values, `True` or `False` (or $1$ or $0$). The basic logical statements that we can make are defined using the built-in comparators. These are `==` (equal), `!=` (not equal), `<` (less than), `>` (greater than), `<=` (less than or equal to), and `>=` (greater than or equal to).

In [113]:
"""print 5 == 5"""

'print 5 == 5'

In [114]:
"""print 5 > 5"""

'print 5 > 5'

These comparators also work in conjunction with variables.

In [115]:
"""m = 2
n = 23
print m < n"""

'm = 2\nn = 23\nprint m < n'

In [116]:
#operadores booleanos
#se puede usar con valores constantes
print "comparando constantes: ", (28<33)==(38.99>1)

#o variables
x=True
y=5

print "Comparando variables: ", (y<33 or x)

comparando constantes:  True
Comparando variables:  True

We can string these comparators together to make more complex logical statements using the logical operators `or`, `and`, and `not`.

In [117]:
"""statement_1 = 10 > 2
statement_2 = 4 <= 6
print "Statement 1 truth value: {0}".format(statement_1)
print "Statement 2 truth value: {0}".format(statement_2)
print "Statement 1 and Statement 2: {0}".format(statement_1 and statement_2)"""

'statement_1 = 10 > 2\nstatement_2 = 4 <= 6\nprint "Statement 1 truth value: {0}".format(statement_1)\nprint "Statement 2 truth value: {0}".format(statement_2)\nprint "Statement 1 and Statement 2: {0}".format(statement_1 and statement_2)'

In [118]:
#usando format para juntar resultados booleanso en un Stirng
bool_1=True or False
bool_2=1>783

print "ambos booleanos, el primero({0}), y el segundo({1}), operados con 'and'({2})".format(bool_1,bool_2,bool_1 and bool_2)

ambos booleanos, el primero(True), y el segundo(False), operados con 'and'(False)

The `or` operator performs a logical `or` calculation. This is an inclusive `or`, so if either component paired together by `or` is `True`, the whole statement will be `True`. The `and` statement only outputs `True` if all components that are `and`ed together are True. Otherwise it will output `False`. The `not` statement simply inverts the truth value of whichever statement follows it. So a `True` statement will be evaluated as `False` when a `not` is placed in front of it. Similarly, a `False` statement will become `True` when a `not` is in front of it.

Say that we have two logical statements, or assertions, $P$ and $Q$. The truth table for the basic logical operators is as follows:

|  P  |  Q  | `not` P| P `and` Q | P `or` Q|
|:-----:|:-----:|:---:|:---:|:---:|
| `True` | `True` | `False` | `True` | `True` |
| `False` | `True` | `True` | `False` | `True` |
| `True` | `False` | `False` | `False` | `True` |
| `False` | `False` | `True` | `False` | `False` |

We can string multiple logical statements together using the logical operators.

In [119]:
"""print ((2 < 3) and (3 > 0)) or ((5 > 6) and not (4 < 2))"""

'print ((2 < 3) and (3 > 0)) or ((5 > 6) and not (4 < 2))'

Logical statements can be as simple or complex as we like, depending on what we need to express. Evaluating the above logical statement step by step we see that we are evaluating (`True and True`) `or` (`False and not False`). This becomes `True or (False and True`), subsequently becoming `True or False`, ultimately being evaluated as `True`.

#### Truthiness

Data types in Python have a fun characteristic called truthiness. What this means is that most built-in types will evaluate as either `True` or `False` when a boolean value is needed (such as with an if-statement). As a general rule, containers like strings, tuples, dictionaries, lists, and sets, will return `True` if they contain anything at all and `False` if they contain nothing.

In [120]:
"""# Similar to how float() and int() work, bool() forces a value to be considered a boolean!
print bool('')"""

"# Similar to how float() and int() work, bool() forces a value to be considered a boolean!\nprint bool('')"

In [121]:
"""print bool('I have character!')"""

"print bool('I have character!')"

In [122]:
"""print bool([])"""

'print bool([])'

In [123]:
"""print bool([1, 2, 3])"""

'print bool([1, 2, 3])'

In [124]:
#forzando el bool
#no tener nada o un 0 es False, de resto es true 
print "Falsos"
print bool(0)
print bool('')
print bool([])
print "Verdaderos"
print bool(1)
print bool('hola mundo')

Falsos
False
False
False
Verdaderos
True
True

And so on, for the other collections and containers. `None` also evaluates as `False`. The number `1` is equivalent to `True` and the number `0` is equivalent to `False` as well, in a boolean context.

### If-statements

We can create segments of code that only execute if a set of conditions is met. We use if-statements in conjunction with logical statements in order to create branches in our code. 

An `if` block gets entered when the condition is considered to be `True`. If condition is evaluated as `False`, the `if` block will simply be skipped unless there is an `else` block to accompany it. Conditions are made using either logical operators or by using the truthiness of values in Python. An if-statement is defined with a colon and a block of indented text.

In [125]:
"""# This is the basic format of an if statement. This is a vacuous example. 
# The string "Condition" will always evaluated as True because it is a
# non-empty string. he purpose of this code is to show the formatting of
# an if-statement.
if "Condition": 
    # This block of code will execute because the string is non-empty
    # Everything on these indented lines
    print True
else:
    # So if the condition that we examined with if is in fact False
    # This block of code will execute INSTEAD of the first block of code
    # Everything on these indented lines
    print False
# The else block here will never execute because "Condition" is a non-empty string."""

'# This is the basic format of an if statement. This is a vacuous example. \n# The string "Condition" will always evaluated as True because it is a\n# non-empty string. he purpose of this code is to show the formatting of\n# an if-statement.\nif "Condition": \n    # This block of code will execute because the string is non-empty\n    # Everything on these indented lines\n    print True\nelse:\n    # So if the condition that we examined with if is in fact False\n    # This block of code will execute INSTEAD of the first block of code\n    # Everything on these indented lines\n    print False\n# The else block here will never execute because "Condition" is a non-empty string.'

In [126]:
"""i = 4
if i == 5:
    print 'The variable i has a value of 5'"""

"i = 4\nif i == 5:\n    print 'The variable i has a value of 5'"

In [127]:
i=10
if bool(1) and 15>14:
    i=15
print i, "es mayor a 14"

15 es mayor a 14

Because in this example `i = 4` and the if-statement is only looking for whether `i` is equal to `5`, the print statement will never be executed. We can add in an `else` statement to create a contingency block of code in case the condition in the if-statement is not evaluated as `True`.

In [128]:
"""i = 4
if i == 5:
    print "All lines in this indented block are part of this block"
    print 'The variable i has a value of 5'
else:
    print "All lines in this indented block are part of this block"
    print 'The variable i is not equal to 5'"""

'i = 4\nif i == 5:\n    print "All lines in this indented block are part of this block"\n    print \'The variable i has a value of 5\'\nelse:\n    print "All lines in this indented block are part of this block"\n    print \'The variable i is not equal to 5\''

In [129]:
i=23
if i>13 and (i<34 or 12==12):
    print "23 es mayor a 14"
else:
    print "23 es menor a 14"

23 es mayor a 14

We can implement other branches off of the same if-statement by using `elif`, an abbreviation of "else if". We can include as many `elifs` as we like until we have exhausted all the logical branches of a condition.

In [130]:
"""i = 1
if i == 1:
    print 'The variable i has a value of 1'
elif i == 2:
    print 'The variable i has a value of 2'
elif i == 3:
    print 'The variable i has a value of 3'
else:
    print "I don't care what i is" """

'i = 1\nif i == 1:\n    print \'The variable i has a value of 1\'\nelif i == 2:\n    print \'The variable i has a value of 2\'\nelif i == 3:\n    print \'The variable i has a value of 3\'\nelse:\n    print "I don\'t care what i is" '

In [131]:
i=14
j=1
if i==14:
    j=2
elif i%13=0:
    j=3
else:
    j=4
print "el valor de j es: ", j

SyntaxError: invalid syntax (<ipython-input-131-209073605741>, line 5)

You can also nest if-statements within if-statements to check for further conditions.

In [132]:
"""i = 10
if i % 2 == 0:
    if i % 3 == 0:
        print 'i is divisible by both 2 and 3! Wow!'
    elif i % 5 == 0:
        print 'i is divisible by both 2 and 5! Wow!'
    else:
        print 'i is divisible by 2, but not 3 or 5. Meh.'
else:
    print 'I guess that i is an odd number. Boring.'"""

"i = 10\nif i % 2 == 0:\n    if i % 3 == 0:\n        print 'i is divisible by both 2 and 3! Wow!'\n    elif i % 5 == 0:\n        print 'i is divisible by both 2 and 5! Wow!'\n    else:\n        print 'i is divisible by 2, but not 3 or 5. Meh.'\nelse:\n    print 'I guess that i is an odd number. Boring.'"

In [133]:
#if anidado
i=78
un_string='hola'
if i==78:
    if un_string=='hola':
        print "hola, i es igual a 78"
    else :
        print "i es igual a 78"
else:
    if un_string=='hola':
        print "hola, i no es igual a 78"
    else:
        print "i no es igual a 78"

hola, i es igual a 78

Remember that we can group multiple conditions together by using the logical operators!

In [134]:
"""i = 5
j = 12
if i < 10 and j > 11:
    print '{0} is less than 10 and {1} is greater than 11! How novel and interesting!'.format(i, j)"""

"i = 5\nj = 12\nif i < 10 and j > 11:\n    print '{0} is less than 10 and {1} is greater than 11! How novel and interesting!'.format(i, j)"

You can use the logical comparators to compare strings!

In [135]:
"""my_string = "Carthago delenda est"
if my_string == "Carthago delenda est":
    print 'And so it was! For the glory of Rome!'
else:
    print 'War elephants are TERRIFYING. I am staying home.'"""

'my_string = "Carthago delenda est"\nif my_string == "Carthago delenda est":\n    print \'And so it was! For the glory of Rome!\'\nelse:\n    print \'War elephants are TERRIFYING. I am staying home.\''

In [136]:
#se pueden usar expresiones booleanas mas comlejas para el if
i=8
un_string="que tal"
if i==8 and i%2==0 or i>7 :
    print "i es igual a 8, por consiguiente 8%2 es 0"
elif un_string=='que tal':
    print 'i no es igual a 8'

i es igual a 8, por consiguiente 8%2 es 0

As with other data types, `==` will check for whether the two things on either side of it have the same value. In this case, we compare whether the value of the strings are the same. Using `>` or `<` or any of the other comparators is not quite so intuitive, however, so we will stay from using comparators with strings in this lecture. Comparators will examine the [lexicographical order](https://en.wikipedia.org/wiki/Lexicographical_order) of the strings, which might be a bit more in-depth than you might like.

Some built-in functions return a boolean value, so they can be used as conditions in an if-statement. User-defined functions can also be constructed so that they return a boolean value. This will be covered later with function definition!

The `in` keyword is generally used to check membership of a value within another value. We can check memebership in the context of an if-statement and use it to output a truth value.

In [137]:
"""if 'a' in my_string or 'e' in my_string:
    print 'Those are my favorite vowels!'"""

"if 'a' in my_string or 'e' in my_string:\n    print 'Those are my favorite vowels!'"

In [138]:
un_string='carro'
if 'z' in un_string:
    print "z esta dentro de ", un_string
else:
    print "z no esta detro de ", un_string

z no esta detro de  carro

Here we use `in` to check whether the variable `my_string` contains any particular letters. We will later use `in` to iterate through lists!

## Loop Structures

Loop structures are one of the most important parts of programming. The `for` loop and the `while` loop provide a way to repeatedly run a block of code repeatedly. A `while` loop will iterate until a certain condition has been met. If at any point after an iteration that condition is no longer satisfied, the loop terminates. A `for` loop will iterate over a sequence of values and terminate when the sequence has ended. You can instead include conditions within the `for` loop to decide whether it should terminate early or you could simply let it run its course.

In [139]:
"""i = 5
while i > 0: # We can write this as 'while i:' because 0 is False!
    i -= 1
    print 'I am looping! {0} more to go!'.format(i)"""

"i = 5\nwhile i > 0: # We can write this as 'while i:' because 0 is False!\n    i -= 1\n    print 'I am looping! {0} more to go!'.format(i)"

In [140]:
i=0
while i<25:
    print i
    i+=2

0
2
4
6
8
10
12
14
16
18
20
22
24


With `while` loops we need to make sure that something actually changes from iteration to iteration so that that the loop actually terminates. In this case, we use the shorthand `i -= 1` (short for `i = i - 1`) so that the value of `i` gets smaller with each iteration. Eventually `i` will be reduced to `0`, rendering the condition `False` and exiting the loop.

A `for` loop iterates a set number of times, determined when you state the entry into the loop. In this case we are iterating over the list returned from `range()`. The `for` loop selects a value from the list, in order, and temporarily assigns the value of `i` to it so that operations can be performed with the value.

In [141]:
for """i in range(5):
    print 'I am looping! I have looped {0} times!'.format(i + 1)"""

SyntaxError: invalid syntax (<ipython-input-141-9fee8be799d0>, line 2)

In [142]:
for i in range(0,11,2):
    print "este numero es par: ",i

este numero es par:  0
este numero es par:  2
este numero es par:  4
este numero es par:  6
este numero es par:  8
este numero es par:  10

Note that in this `for` loop we use the `in` keyword. Use of the `in` keyword is not limited to checking for membership as in the if-statement example. You can iterate over any collection with a `for` loop by using the `in` keyword.

In this next example, we will iterate over a `set` because we want to check for containment and add to a new set.

In [143]:
"""my_list = {'cats', 'dogs', 'lizards', 'cows', 'bats', 'sponges', 'humans'} # Lists all the animals in the world
mammal_list = {'cats', 'dogs', 'cows', 'bats', 'humans'} # Lists all the mammals in the world
my_new_list = set()
for animal in my_list:
    if animal in mammal_list:
        # This adds any animal that is both in my_list and mammal_list to my_new_list
        my_new_list.add(animal)
        
print my_new_list"""

"my_list = {'cats', 'dogs', 'lizards', 'cows', 'bats', 'sponges', 'humans'} # Lists all the animals in the world\nmammal_list = {'cats', 'dogs', 'cows', 'bats', 'humans'} # Lists all the mammals in the world\nmy_new_list = set()\nfor animal in my_list:\n    if animal in mammal_list:\n        # This adds any animal that is both in my_list and mammal_list to my_new_list\n        my_new_list.add(animal)\n        \nprint my_new_list"

In [144]:
primera_lista=list(range(0,25,2))
segunda_lista=list(range(0,25,3))
un_set=set()

#usare esto para calcular los multiplos en comun de dos y de tres
for number in segunda_lista:
    if number in primera_lista:
        un_set.add(number)

print un_set

{0, 24, 18, 12, 6}

There are two statements that are very helpful in dealing with both `for` and `while` loops. These are `break` and `continue`. If `break` is encountered at any point while a loop is executing, the loop will immediately end.

In [145]:
"""i = 10
while True:
    if i == 14:
        break
    i += 1 # This is shorthand for i = i + 1. It increments i with each iteration.
    print i"""

'i = 10\nwhile True:\n    if i == 14:\n        break\n    i += 1 # This is shorthand for i = i + 1. It increments i with each iteration.\n    print i'

In [146]:
"""for i in range(5):
    if i == 2:
        break
    print i"""

'for i in range(5):\n    if i == 2:\n        break\n    print i'

In [147]:
j=0
for i in range(20):
    if i==18:
        break
    j=i
print "Break en un for: ", j

while j>0:
    if j==2:
        break
    j-=1
print "Break en while: ", j

Break en un for:  17
Break en while:  2

The `continue` statement will tell the loop to immediately end this iteration and continue onto the next iteration of the loop.

In [148]:
"""i = 0
while i < 5:
    i += 1
    if i == 3:
        continue
    print i"""

'i = 0\nwhile i < 5:\n    i += 1\n    if i == 3:\n        continue\n    print i'

In [149]:
for i in range(10):
    if i%3==0:
        continue
    print i

1
2
4
5
7
8

This loop skips printing the number $3$ because of the `continue` statement that executes when we enter the if-statement. The code never sees the command to print the number $3$ because it has already moved to the next iteration. The `break` and `continue` statements are further tools to help you control the flow of your loops and, as a result, your code.

The variable that we use to iterate over a loop will retain its value when the loop exits. Similarly, any variables defined within the context of the loop will continue to exist outside of it.

In [150]:
"""for i in range(5):
    loop_string = 'I transcend the loop!'
    print 'I am eternal! I am {0} and I exist everywhere!'.format(i)

print 'I persist! My value is {0}'.format(i)
print loop_string"""

"for i in range(5):\n    loop_string = 'I transcend the loop!'\n    print 'I am eternal! I am {0} and I exist everywhere!'.format(i)\n\nprint 'I persist! My value is {0}'.format(i)\nprint loop_string"

In [151]:
#los valores de las variable usadas en el for para iterar
#existen tambien fuera del loop
i=0
print 'primer valor de i, antes del loop: ',i
while True:
    if i==20:
        break
    i+=1
print 'ultimo valor de i, desues del loop: ', i

primer valor de i, antes del loop:  0
ultimo valor de i, desues del loop:  20

We can also iterate over a dictionary!

In [152]:
my_dict = {'firstname' : 'Inigo', 'lastname' : 'Montoya', 'nemesis' : 'Rugen'}

In [153]:
"""for key in my_dict:
    print key"""

'for key in my_dict:\n    print key'

In [154]:
i=0
for key in my_dict:
    if i%2==0:
        print key
    else:
        print i
    i+=1

nemesis
1
firstname

If we just iterate over a dictionary without doing anything else, we will only get the keys. We can either use the keys to get the values, like so:

In [155]:
"""for key in my_dict:
    print my_dict[key]"""

'for key in my_dict:\n    print my_dict[key]'

In [156]:
i=0
for key in my_dict:
    if i%2==0:
        print my_dict[key]
    else:
        print i
    i+=1

Rugen
1
Inigo

Or we can use the `items()` function to get both key and value at the same time.

In [157]:
"""for key, value in my_dict.items():
    print key, ':', value"""

"for key, value in my_dict.items():\n    print key, ':', value"

In [158]:
i=0
for key,val in my_dict.items():
    if i%2==0:
        print key,"/", val
    else:
        print i
    i+=1

nemesis / Rugen
1
firstname / Inigo

The `items()` function creates a tuple of each key-value pair and the for loop unpacks that tuple into `key, value` on each separate execution of the loop!

## Functions

A function is a reusable block of code that you can call repeatedly to make calculations, output data, or really do anything that you want. This is one of the key aspects of using a programming language. To add to the built-in functions in Python, you can define your own!

In [159]:
"""def hello_world():
    
    print 'Hello, world!'

hello_world()"""

"def hello_world():\n    \n    print 'Hello, world!'\n\nhello_world()"

In [160]:
"""for i in range(5):
    hello_world()"""

'for i in range(5):\n    hello_world()'

In [161]:
def hola_user(i):
    print "hola usuario numero {0}, que tal estas?".format(i+1)

for i in range(20):
    hola_user(i)

hola usuario numero 1, que tal estas?
hola usuario numero 2, que tal estas?
hola usuario numero 3, que tal estas?
hola usuario numero 4, que tal estas?
hola usuario numero 5, que tal estas?
hola usuario numero 6, que tal estas?
hola usuario numero 7, que tal estas?
hola usuario numero 8, que tal estas?
hola usuario numero 9, que tal estas?
hola usuario numero 10, que tal estas?
hola usuario numero 11, que tal estas?
hola usuario numero 12, que tal estas?
hola usuario numero 13, que tal estas?
hola usuario numero 14, que tal estas?
hola usuario numero 15, que tal estas?
hola usuario numero 16, que tal estas?
hola usuario numero 17, que tal estas?
hola usuario numero 18, que tal estas?
hola usuario numero 19, que tal estas?
hola usuario numero 20, que tal estas?

Functions are defined with `def`, a function name, a list of parameters, and a colon. Everything indented below the colon will be included in the definition of the function.

We can have our functions do anything that you can do with a normal block of code. For example, our `hello_world()` function prints a string every time it is called. If we want to keep a value that a function calculates, we can define the function so that it will `return` the value we want. This is a very important feature of functions, as any variable defined purely within a function will not exist outside of it.

In [162]:
"""def see_the_scope():
    in_function_string = "I'm stuck in here!"

see_the_scope()
print in_function_string"""

'def see_the_scope():\n    in_function_string = "I\'m stuck in here!"\n\nsee_the_scope()\nprint in_function_string'

In [163]:
#la variables declaradas dentro de una funcion solo existen dentro de ella
#la siguiente funcion genera error
"""def funct_error():
    hola=20
funct_error()
print hola"""

'def funct_error():\n    hola=20\nfunct_error()\nprint hola'

 The **scope** of a variable is the part of a block of code where that variable is tied to a particular value. Functions in Python have an enclosed scope, making it so that variables defined within them can only be accessed directly within them. If we pass those values to a return statement we can get them out of the function. This makes it so that the function call returns values so that you can store them in variables that have a greater scope.
 
In this case specifically, including a return statement allows us to keep the string value that we define in the function.

In [164]:
"""def free_the_scope():
    in_function_string = "Anything you can do I can do better!"
    return in_function_string
my_string = free_the_scope()
print my_string"""

'def free_the_scope():\n    in_function_string = "Anything you can do I can do better!"\n    return in_function_string\nmy_string = free_the_scope()\nprint my_string'

In [165]:
def retornar():
    return "hola mundo retornado"
un_string=retornar()
print un_string

hola mundo retornado

Just as we can get values out of a function, we can also put values into a function. We do this by defining our function with parameters.

In [166]:
"""def multiply_by_five(x):
    
    return x * 5

n = 4
print n
print multiply_by_five(n)"""

'def multiply_by_five(x):\n    \n    return x * 5\n\nn = 4\nprint n\nprint multiply_by_five(n)'

In [167]:
def devolver(x):
    return x**2

print ("5 elevado a la 2: ", devolver(5))

5 elevado a la 2:  25

In this example we only had one parameter for our function, `x`. We can easily add more parameters, separating everything with a comma.

In [168]:
"""def calculate_area(length, width):
   
    return length * width"""

'def calculate_area(length, width):\n   \n    return length * width'

In [169]:
"""l = 5
w = 10
print 'Area: ', calculate_area(l, w)
print 'Length: ', l
print 'Width: ', w"""

"l = 5\nw = 10\nprint 'Area: ', calculate_area(l, w)\nprint 'Length: ', l\nprint 'Width: ', w"

In [170]:
"""def calculate_volume(length, width, depth):
    
    return length * width * depth"""

'def calculate_volume(length, width, depth):\n    \n    return length * width * depth'

In [171]:
#las funciones pueden recibir tantos valores como le sean especificados
def multiplicacion(x,y,z):
    return x*y*z

print ("2*4*6= ", multiplicacion(2,4,6))

2*4*6=  48

If we want to, we can define a function so that it takes an arbitrary number of parameters. We tell Python that we want this by using an asterisk (`*`).

In [172]:
"""def sum_values(*args):
    sum_val = 0
    for i in args:
        sum_val += i
    return sum_val"""

'def sum_values(*args):\n    sum_val = 0\n    for i in args:\n        sum_val += i\n    return sum_val'

In [173]:
"""print sum_values(1, 2, 3)
print sum_values(10, 20, 30, 40, 50)
print sum_values(4, 2, 5, 1, 10, 249, 25, 24, 13, 6, 4)"""

'print sum_values(1, 2, 3)\nprint sum_values(10, 20, 30, 40, 50)\nprint sum_values(4, 2, 5, 1, 10, 249, 25, 24, 13, 6, 4)'

In [174]:
def factorial(x):
    if x==2 or x==1 or x==0:
        return x
    else:
        return x*factorial(x-1)

def varios_numeros(*args):
    for val in args:
        print ("El factorial de {0} es:".format(val), factorial(val))
        
varios_numeros(5,4,3,2,1)

El factorial de 5 es: 120
El factorial de 4 es: 24
El factorial de 3 es: 6
El factorial de 2 es: 2
El factorial de 1 es: 1

The time to use `*args` as a parameter for your function is when you do not know how many values may be passed to it, as in the case of our sum function. The asterisk in this case is the syntax that tells Python that you are going to pass an arbitrary number of parameters into your function. These parameters are stored in the form of a tuple.

In [175]:
"""def test_args(*args):
    print type(args)

test_args(1, 2, 3, 4, 5, 6)"""

'def test_args(*args):\n    print type(args)\n\ntest_args(1, 2, 3, 4, 5, 6)'

In [176]:
def test_tipo(*args):
    print("el tipo del valor dado es: ", type(args))

test_tipo(100,200,"hola mundo")

el tipo del valor dado es:  <class 'tuple'>

We can put as many elements into the `args` tuple as we want to when we call the function. However, because `args` is a tuple, we cannot modify it after it has been created.

The `args` name of the variable is purely by convention. You could just as easily name your parameter `*vars` or `*things`. You can treat the `args` tuple like you would any other tuple, easily accessing `arg`'s values and iterating over it, as in the above `sum_values(*args)` function.

Our functions can return any data type. This makes it easy for us to create functions that check for conditions that we might want to monitor.

Here we define a function that returns a boolean value. We can easily use this in conjunction with if-statements and  other situations that require a boolean.

In [177]:
"""def has_a_vowel(word):
     
    Checks to see whether a word contains a vowel 
    If it doesn't contain a conventional vowel, it
    will check for the presence of 'y' or 'w'. Does
    not check to see whether those are in the word
    in a vowel context.
    
    vowel_list = ['a', 'e', 'i', 'o', 'u']
    
    for vowel in vowel_list:
        if vowel in word:
            return True
    # If there is a vowel in the word, the function returns, preventing anything after this loop from running
    return False"""

"def has_a_vowel(word):\n     \n    Checks to see whether a word contains a vowel \n    If it doesn't contain a conventional vowel, it\n    will check for the presence of 'y' or 'w'. Does\n    not check to see whether those are in the word\n    in a vowel context.\n    \n    vowel_list = ['a', 'e', 'i', 'o', 'u']\n    \n    for vowel in vowel_list:\n        if vowel in word:\n            return True\n    # If there is a vowel in the word, the function returns, preventing anything after this loop from running\n    return False"

In [178]:
"""my_word = 'catnapping'
if has_a_vowel(my_word):
    print 'How surprising, an english word contains a vowel.'
else:
    print 'This is actually surprising.'"""

"my_word = 'catnapping'\nif has_a_vowel(my_word):\n    print 'How surprising, an english word contains a vowel.'\nelse:\n    print 'This is actually surprising.'"

In [179]:
#las funciones pueden retornar cualquier tipo de valor

def booleano(x):
    if x==1:
        return True
    return False

def String(x):
    if x==2:
        return "True+"
    return "False+"

x=1
print booleano(x)
print String(x)

True
False+

In [180]:
"""def point_maker(x, y):
     Groups x and y values into a point, technically a tuple 
    return x, y"""

'def point_maker(x, y):\n     Groups x and y values into a point, technically a tuple \n    return x, y'

In [181]:
# si se retorna mas de un valor, se devolvera una tupla

def una_tupla(i,j):
    return i+j,i*j
una_tupla(3,6)

(9, 18)

This above function returns an ordered pair of the input parameters, stored as a tuple.

In [182]:
"""a = point_maker(0, 10)
b = point_maker(5, 3)
def calculate_slope(point_a, point_b):
    " Calculates the linear slope between two points ""
    return (point_b[1] - point_a[1])/(point_b[0] - point_a[0])
print "The slope between a and b is {0}".format(calculate_slope(a, b))"""

'a = point_maker(0, 10)\nb = point_maker(5, 3)\ndef calculate_slope(point_a, point_b):\n    " Calculates the linear slope between two points ""\n    return (point_b[1] - point_a[1])/(point_b[0] - point_a[0])\nprint "The slope between a and b is {0}".format(calculate_slope(a, b))'

And that one calculates the slope between two points!

In [183]:
"""print "The slope-intercept form of the line between a and b, using point a, is: y - {0} = {2}(x - {1})".format(a[1], a[0], calculate_slope(a, b))"""

'print "The slope-intercept form of the line between a and b, using point a, is: y - {0} = {2}(x - {1})".format(a[1], a[0], calculate_slope(a, b))'

With the proper syntax, you can define functions to do whatever calculations you want. This makes them an indispensible part of programming in any language.

## Next Steps

This was a lot of material and there is still even more to cover! Make sure you play around with the cells in each notebook to accustom yourself to the syntax featured here and to figure out any limitations. If you want to delve even deeper into the material, the [documentation for Python](https://docs.python.org/2/) is all available online. We are in the process of developing a second part to this Python tutorial, designed to provide you with even more programming knowledge, so keep an eye on the [Quantopian Lectures Page](quantopian.com/lectures) and the [forums](quantopian.com/posts) for any new lectures.

*This presentation is for informational purposes only and does not constitute an offer to sell, a solicitation to buy, or a recommendation for any security; nor does it constitute an offer to provide investment advisory or other services by Quantopian, Inc. ("Quantopian"). Nothing contained herein constitutes investment advice or offers any opinion with respect to the suitability of any security, and any views expressed herein should not be taken as advice to buy, sell, or hold any security or as an endorsement of any security or company.  In preparing the information contained herein, Quantopian, Inc. has not taken into account the investment needs, objectives, and financial circumstances of any particular investor. Any views expressed and data illustrated herein were prepared based upon information, believed to be reliable, available to Quantopian, Inc. at the time of publication. Quantopian makes no guarantees as to their accuracy or completeness. All information is subject to change and may quickly become unreliable for various reasons, including changes in market conditions or economic circumstances.*